@media screen and (max-width:565px) {
    .header{
        background-color: black; 
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        width: 100%;
        justify-content: end;
        margin-top: -80px;
        margin-left: -8px;
     }
     .logo{
         color:brown;
         justify-content: start;
         font-size: 18px;
         position:absolute;
         margin-left: -70px; 
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         margin-top: 15px;
     }
     .navbar{
         display: flex;
         margin-left: 90px;
     }
     .nav{
         list-style: none;
         display: flex;
     }
     .menu{
         font-size: 20px;
         margin: 0 10px;
     }
     body{
        background-size: 1200px;
     }
     h1{
        font-size:20px;
        margin-left: -10px;
        height: 50px;
     }
     .about{
        margin-left: 90px;
     }
     .myprofile img{
        height: 250px;
        width: auto;
      }
      .myprofile{
        margin-left: 60px;
      }
      .projects{
        display: flex;
        flex-direction: column;
      }
      .cap1{
        position: relative;
        height: 200px;
        width: 385px;
        text-align: center;
        font-size: x-large;
        opacity: 0;
        margin-top: -18px;
        margin-bottom: 20px;
    }
    .cap2{
        position: relative;
        height: 200px;
        width: 385px;
        text-align: center;
        font-size: x-large;
        opacity:0;
        margin-top: -18px;
        margin-bottom: 20px;
    }
    .cap3{
        position: relative;
        height: 200px;
        width: 385px;
        text-align: center;
        font-size: x-large;
        opacity: 0;
        margin-top: -18px;
        margin-bottom: 20px;
    }
    .sample1 img{
        position: absolute;
        width: 385px;
        height: 200px;
        margin-right: 5px;
    
    }.sample2 img{
        position: absolute;
        width: 385px;
        height: 200px;
        margin-right: 5px;
    
    }
    .sample3 img{
        position: absolute;
        width: 385px;
        height: 200px;
        margin-right: 5px;
    
    }
    .cap1:hover{
        background: plum;
        border-radius: 2px;
        opacity: 0.8;
        transform: scale(1.05);
    }
    .cap2:hover{
        background: plum;
        border-radius: 2px;
        opacity: 0.8;
        transform: scale(1.05);
    }
    .cap3:hover{
        background: plum;
        border-radius: 2px;
        opacity: 0.8;
        transform: scale(1.03);
    }
    h1{
       font-size: 30px; 
    }
}
